/* || CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || Grid */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* || Custom styles */
body {
	font-family: "Lato", sans-serif;
	background-color: #191d32;
	color: #e5e5d7;
	width: 80%;
	margin: 1rem auto;
    line-height: 1.7;
}

.container {
	height: 800px;
}

.nav-top ul {
	height: 100px;
	padding: 0 100px;

	display: grid;
	grid-template-columns: 1fr repeat(3, fit-content(1px));
	grid-gap: 50px;
	align-content: center;

	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
	background-image: linear-gradient(260deg, #023688 0%, #d40078 100%);
	background-image: linear-gradient(260deg, #023688 0%, #c16ecf 100%);
}

.nav-bot ul {
	height: 300px;

	display: grid;
	grid-template-columns: repeat(4, fit-content(1px));
	grid-gap: 20px;
	justify-content: center;
}

.project-container ul {
	display: grid;
	grid-template-columns: repeat(2, fit-content(1px));
	grid-gap: 10%;
	justify-content: center;
}

/* || Links */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #1dff8f;
}