/* ||CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* Global */
body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

a:hover {
    color: #008db2;
}

.display-none {
    display: none;
}

#menu-checkbox:checked ~ #nav {
    display: grid;
}

.grid {
    display: grid;
}

.td-none {
    text-decoration: none;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

/* #Colors */
.bg-black {
    background-color: #111;
}

.bg-grey {
    background-color: #191c21;
}

.text-purple {
    color: #525ddc;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #6c757d;
}

.text-teal {
    color: #00d1b2;
}

.items-center {
    justify-items: center;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: start;
}

.ac-center {
    align-content: center;
}

.gap {
    gap: 1rem;
}

.grid-col-auto {
    grid-template-columns: auto;
}